/*
* Typography used site wide
*/

@font-face {
    font-family: 'Roboto Bold';
    src: url('../vendor/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../vendor/fonts/Roboto-Regular.ttf') format('truetype');
}